* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

.add p {
    background-color: #77CC95;
    text-align: center;
    height: 58px;
    color: white;
    font-size: 18px;
    line-height: 58px;
}

.add a {
    text-decoration: none;
}

.nav {
    height: 142px;
    position: relative;
    margin-bottom: 20px;
}

.nav .search_container {
    display: flex;
    justify-content: flex-end;
}

.nav .search {
    width: 300px;
    height: 18px;
    margin: 24px 80px;
    display: flex;
    border: 2px solid #77CC95;
    border-radius: 22px;
    padding: 8px 0 8px 23px;
    position: relative;
}

.nav .search span {
    padding: 3px 8px 0 60px;
    width: 18px;
    height: 15px;
}

.nav .search span img {
    position: absolute;
    right: 5.7%;
    bottom: 28%;
}

.nav .search p {
    color: #9F9F9F;
    padding: 0 18px 0 0;
    font-size: 10px;
    line-height: 18px;
}

.nav .logo {
    width: 300px;
    height: 63px;
    display: inline-block;
}

.nav .logo img {
    width: 175px;
    height: 30px;
    display: inline-block;
    padding: 0 0 0 40px;
}

.gnb {
    position: absolute;
    top: 94px;
    width: 384px;
    height: 63px;
    display: inline-block;
}

.gnb ul {
    display: flex;
    list-style: none;
}

.gnb ul .sub {
    position: absolute;
    top: 30px;
    left: 105px;
    width: 220px;
    display: inline-block;
    list-style: none;
    z-index: 1;
}

nav ul {
    position: relative;
}

.gnb ul li {
    margin: 0 0 0 20px;
}

.gnb li a {
    text-decoration: none;
    color: #323232;
    font-weight: bold;
    margin-right: 15px;
}

.gnb ul li a:hover {
    color: #77CC95;
}

.nav .header_icon {
    width: 58%;
    position: absolute;
    top: 105px;
    left: 92%;
}

.nav .header_icon .zang {
    position: absolute;
    bottom: 6px;
    opacity: 80%;
    margin-left: 1px;
}

.nav .header_icon img {
    width: 28px;
    height: 28px;
    padding-right: 13px;
}

.nav .header_icon :nth-child(2) img {
    width: 20px;
    height: 20px;
    padding-bottom: 2px;
    top: 4px;
}




h3 {
    font-size: 30px;
    font-weight: bold;
    color: #77CC95;
}

.titleArea {
    padding: 50px 0 50px !important;
    border-bottom: 0 !important;
    text-align: center;
}

.ec-base-table table {
    position: relative;
    margin: 10px 0 0;
    border-top: 1px solid #e8e8e8;
    color: #333;
    color: #fff;
    line-height: 1.5;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-spacing: 2px;
    border-color: grey;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.ec-base-table table {
    position: relative;
    margin: 10px 0 0;
    border-bottom: 1px solid #e8e8e8;
    color: #fff;
    line-height: 1.5;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.ec-base-table thead th {
    border-bottom: 1px solid #e8e8e8;
    vertical-align: middle;
    font-weight: normal;
    background: #fafafa;
}

.ec-base-table table th,
.ec-base-table table td {
    padding: 16px;
    font-size: 14px;
    line-height: 1.7;
    vertical-align: middle;
}

.ec-base-table th {
    word-break: break-all;
    word-wrap: break-word;
    color: #888;
}

th,
td {
    border: 0;
    vertical-align: top;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.displaynone {
    margin: 10px;
}

.ec-base-paginate {
    margin: 30px 0 15px;
    text-align: center;
    font-size: 0;
    line-height: 0;
}

a {
    text-decoration: none !important;
    color: #333;
    cursor: pointer;
}

.ec-base-paginate img {
    vertical-align: top;
    opacity: 0.5;
}

img,
fieldset {
    border: none;
    vertical-align: top;
}

.ec-base-paginate ol {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    height: 34px;
    padding: 0 15px;
}

.ec-base-paginate li:first-child {
    margin-left: 0;
}

.ec-base-paginate li {
    display: inline-block;
    font-size: 12px;
    color: #757575;
    margin: 0 -2px;
    vertical-align: top;
}

li {
    list-style: none;
}


.ec-base-paginate li a.this {
    color: #666;
    background: #f4f4f4;
    font-weight: 600;
}

.ec-base-paginate li a {
    display: inline-block;
    text-align: center;
    width: 34px;
    font-size: 11px;
    font-weight: 400;
    line-height: 34px;
    color: #999;
    border-radius: 50%;
}


form {
    display: block;
    margin-top: 0em;
}

input,
select,
textarea {
    font-size: 100%;
    color: #333;
    vertical-align: middle;
}

input {
    background: #fff;
    border: 1px solid #e8e8e8;
}

select,
input {
    padding: 0;
    margin: 0;
    outline: 0;
}


.xans-board-search {
    padding: 20px 0 0;
    color: #333;
    font-size: 12px;
}

.s_box {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 20px 0 0 38%
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

select {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 0px;
}


.xans-board-search select#search_date {
    margin: 0 3px 0 0;
}

.xans-board-search select {
    margin: 0 3px 0 0;
    width: 90px;
}

select,
input[type=text],
input[type=password],
textarea {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    outline: 0;
}

select {
    height: 36px;
    line-height: 34px;
    border: 1px solid #e8e8e8;
    padding: 0 30px 0 8px;
    -webkit-appearance: none;
}

input,
select,
textarea {
    vertical-align: middle;
    font-size: 13px;
    color: #333;
}

select,
input[type=text],
input[type=password],
textarea {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    outline: 0;
}

input[type=text],
input[type=password] {
    height: 36px;
    line-height: 34px;
    padding: 0 4px;
}

.xans-board-search input {
    width: 162px;
}

input,
select,
textarea {
    vertical-align: middle;
    font-size: 13px;
    color: #333;
}

input {
    background: #fff;
    border: 1px solid #e8e8e8;
}

[class^='btnSubmit']:not(.disabled):hover {
    background-color: #444;
}

.xans-board-search .btnSch {
    width: 50px;
    line-height: 22px;
    height: 25px;
    font-size: 14px;
}

[class^='btnSubmit'],
a[class^='btnSubmit'] {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: #77CC95;
}

[class^='btn'] {
    line-height: 24px;
}


footer {
    display: flex;
    padding-top: 140px;
    width: 1280px;
    margin: 0 auto;
    height: 258px;
}

footer .footer_box1 {
    display: flex;
    justify-content: space-between;
    padding: 0 23px;
    border-bottom: 1px solid #D8D8D8;
}

footer .footer_menu {
    padding-bottom: 25px;
    display: inline-block;
}

.footer .footer_box1 .footer_icon {
    display: flex;
    width: 500px;
    display: block;
}

.footer .footer_box1 .footer_icon a {
    padding-right: 25px;
}

.footer_end {
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    width: 1239px;
    height: 115px;
    color: #606060;
    padding: 0 23px;
}

.footer_end .f_box1 {
    width: 1077px;
}

footer .footer_box2 p {
    margin-bottom: 3px;
}

.footer .footer_menu span {
    padding-right: 20px;
}

.f_box1 {
    position: relative;
}

.footer .cs {
    width: 250px;
    height: 67px;
    margin-bottom: 3px;
}

.footer .cs :nth-child(1) {
    font-size: 14px;
    color: #606060;
    font-weight: bold;
}

.footer .cs :nth-child(3) {
    color: #606060;
    font-size: 8px;
}

footer .cs p.call {
    font-size: 22px;
    color: #161616;
    font-weight: bold;
    margin-bottom: 6px;
}